.chat-bot {
    height: calc(100vh - 80px);
    background-color: #fbfbfb;

    .side-bar {
        background-color: var(--color-black);
        width: 50px;
        height: 100%;
        float: left;
        position: relative;
        transition: 0.5s;

        &.active {
            width: 300px;
        }

        .toggle-side-menu {
            a {
                i {
                    color: var(--color-white);
                    position: absolute;
                    right: -15px;
                    top: 45%;
                    background-color: rgba(127, 127, 127, 0.4705882353);
                    padding: 15px 4px;
                    border-radius: 2px;
                    font-size: 13px;
                    z-index: 1;
                    cursor: pointer;
                }
            }
        }

        .form-group-custm {
            input {
                width: 85%;
                height: 40px;
                cursor: pointer;
                position: absolute;
                top: 30px;
                left: 20px;
                font-size: 16px;
                padding-left: 50px;
                background-color: transparent;
                color: var(--color-light-gry);
                border: 1px solid var(--color-light-gry);

                &::placeholder {
                    color: var(--color-light-gry);
                }
            }

            a {
                position: absolute;
                left: 35px;
                top: 39px;
                color: var(--color-light-gry);
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    color: var(--color-green);
                    transition: 0.5s;
                    opacity: 0.5s;
                }
            }
        }

        a {
            &.side-chat-input {
                color: white;
                padding: 0 15px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        ul {
            position: absolute;
            left: 15px;
            bottom: 20px;
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            li {
                // padding-top: 20px;

                a {
                    color: var(--color-white);
                    font-size: 15px;
                    position: relative;
                    padding: 10px 0;
                    display: block;

                    i {
                        color: var(--color-green);
                        font-size: 16px;
                        padding-right: 15px;
                    }

                    &:hover {
                        color: var(--color-white);
                        transition: 0.5s;
                        opacity: 0.5s;
                    }
                }
            }
        }
    }

    .main {
        width: calc(100% - 300px);
        height: calc(100vh - 100px);
        display: inline-block;

        &.active {
            // width: 96%;
            width: calc(100% - 50px);
        }

        .heading-chatbot {
            height: calc(100vh - 144px);
            padding: 25px;

            h3 {
                text-align: center;
                font-size: 45px;
                color: var(--color-black);
                font-weight: 600;
            }

            p {
                text-align: center;
                font-size: 14px;
                color: #939393;
                padding: 15px 15px 0 15px;
            }
        }

        .cstm-chat-bar {
            padding: 10px 20px;
            border-top: 1px solid #dcdcdc;

            .form-group {
                &.msg-send {
                    input {}

                    a {
                        background-color: var(--color-green);
                        color: var(--color-white);
                        padding: 7px 11px;
                        border-radius: 5px;
                        margin-left: 5px;
                        cursor: pointer;

                        &:hover {
                            color: var(--color-black);
                            transition: 0.5s;
                            opacity: 0.5s;
                        }
                    }
                }
            }
        }
    }

}

.chat-bot .side-bar ul li a span.menu-text {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #000;
    padding: 10px;
    white-space: nowrap;
    display: none;
    border-radius: 4px;
}

.chat-bot .side-bar ul li a:hover span.menu-text {
    display: block;
}

.chat-bot .side-bar.active ul li a span.menu-text {
    display: inline-block;
    position: inherit;
    padding: 0;
    left: inherit;
    transition: 0.5s;
}