.find-talent {
	padding: 50px 0;

	.content {
		margin-top: 20px;

		p {
			color: var(--color-gry);
			font-size: 14px;
			padding-top: 15px;
		}
	}
}

/* menu desktop and mobile switching on responsive  */
@media only screen and (max-width: 768px) {
	
}

@media only screen and (max-width: 600px) {
	
}