.footer {
    background-color: #343434;
    padding: 60px 0px;

    .first {
        h3 {
            font-size: 23px;
            color: var(--color-green);
            font-weight: bold;
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            padding-top: 10px;

            li {
                padding-top: 10px;

                a {
                    cursor: pointer;
                    color: var(--color-white);
                    font-size: 17px;

                    &:hover {
                        color: var(--color-green);
                        opacity: 0.5s;
                        transition: 0.5s;
                    }

                    i {
                        padding-right: 10px;
                        font-size: 16px;
                    }
                }
            }
        }

    }
}

.bottom-bar {
    background-color: #3e3e3e;
    padding: 10px 0;

    .left {
        text-align: center;

        p {
            text-align: center;
            color: var(--color-gry);
            font-size: 15px;
            padding-top: 10px;
        }
    }

    .right {
        float: right;

        a {
            i {
                border: 1px solid;
                color: var(--color-white);
                border-radius: 30px;
                padding: 6px;
                font-size: 18px;
                margin: 0 6px;

                &:hover {
                    color: var(--color-green);
                    opacity: 0.5s;
                    transition: 0.5s;
                }
            }
        }
    }
}



/* menu desktop and mobile switching on responsive  */
@media only screen and (max-width: 768px) {
    .footer {
        padding: 30px 0;

        .first {
            margin-top: 30px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        padding: 20px 0 40px 0;

        .first {
            margin-top: 40px;

            h3 {
                font-size: 20px;
            }
        }
    }
}