.container {
    width: 1519px !important;
    max-width: 100% !important;
}

/* h1.main_hdng {
    font-size: 60px;
    font-weight: 900;
} */

.img-work {
    position: relative;
    background-image: url();
    border: 3px dashed hsl(120deg 100% 30% / 52%);
    width: calc(90% - 15px);
    margin-left: auto;
    height: calc(90% - 15px);
}

.img-work img {
    width: 100%;
    position: relative;
    right: 15px;
    height: 100%;
    top: 15px;
    transition: 0.5s;
}

.img-work:hover img {
    top: 0;
    right: 0;
}

.find-talent {
    text-align: left;
}

span.primary-color {
    color: var(--color-green);
}

.find-talent h1 {
    font-weight: 600;
    font-size: 40px;
}

.find-talent p {
    padding-top: 30px;
    font-weight: 400;
    font-size: 19px;
    color: var(--color-black);
}

.find-talent p span.primary-color {
    font-size: 25px;
    font-weight: 500;
}

.find-talent .find-btns {
    margin-top: 40px;
}

.find-talent .find-btns .green {
    margin-right: 15px;
}

.work_cntnt {
    padding-top: 50px;
    padding-left: 50px !important;
}

.img-work .verticaltxt {
    font-size: 110px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    transform: rotate(-90deg) translateY(-50%);
    top: 50%;
    left: -190px;
    color: #77ba0278;
    letter-spacing: 10px;
}

.sec-category {
    padding: 5rem 0 5rem;
    background-color: #333333;
    /* color: var(--color-white); */
}

.sec-category h1 {
    text-align: center;
    font-size: 40px;
    color: var(--color-white);
    font-weight: 300;
}

.sec-category h1 span {
    font-weight: 700;
    color: var(--color-green);
}

.sec-category h5 {
    font-size: 22px;
    font-weight: 500;
    padding-top: 13px;
    text-align: center;
    color: var(--color-white);
}

.sec-category h5 span {
    color: var(--color-green);
}

.sec-category .cate_row {
    margin-top: 30px;
}

.sec-category .bx-category {
    background-color: var(--color-white);
    border-radius: 10px;
    color: var(--color-green);
    padding: 30px;
    margin-top: 1.5rem;
    text-align: left;
    font-size: 24px;
    transition: 0.5s;
}

.sec-category .bx-category h4 {
    font-size: 22px;
    font-weight: 600;
    min-height: 70px;
}

.sec-category .bx-category .text-start,
.text-end {
    font-size: 21px;
}

.bx-category:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}

.sec-companygood {
    padding: 80px 0;
    text-align: left;
}

p {
    font-size: 22px;
}

.sec-companygood h1.main_hdng span.primary-color.d-block {
    font-size: 26px;
    font-weight: 500;
}

.sec-companygood p {
    font-size: 19px;
    padding-top: 10px;
}

.sec-companygood button.green {
    margin-top: 20px;
}

/* .sec-companygood p {
    margin-bottom: 40px !important;
    margin-top: 40px !important;
    width: 580px;
    max-width: 100%;
} */

h1.main_hdng span.title {
    font-size: 26px;
    font-weight: 500;
}

ul.ul_company {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    font-size: 24px;
}

ul.ul_company li img {
    margin-right: 25px;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

ul.ul_company li {
    line-height: 60px;
}

/**/

.sec-talent {
    background-image: url(../img/bg-talent.jpg);
    padding: 80px 0;
    color: var(--color-white);
}

.sec-talent h1 {
    font-size: 40px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.sec-talent p {
    font-size: 20px;
    color: white;
    text-align: center;
}

.bx-talent-row>div {
    padding: 0 20px;
}

.bx-talent {
    display: inline-block;
    width: 100%;
    height: 160px;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 35px 20px;
    color: var(--color-green);
    font-size: 22px;
    margin-top: 40px;
}

.bx-talent h4 {
    font-size: 20px;
    padding-bottom: 30px;
}

.bx-talent span.bottomtitle {
    font-size: 18px;
}

.bx-talent i {
    float: right;
    padding-top: 12px;
    font-size: 17px;
}

/**/

.sec-worktalent {
    padding: 80px 0;
    text-align: left;
}

.sec-worktalent ul {
    list-style: none;
    padding-left: 0;
    font-size: 22px;
    line-height: 52px;
    margin-bottom: 40px;
}

.sec-worktalent ul li {
    position: relative;
    padding-left: 40px;
}

.sec-worktalent ul li:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--color-green);
    border-radius: 100px;
    top: 20px;
    left: 0;
}

/**/

.sec-tabs {
    padding: 3.5rem 0;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-tabs .tab .seprator {
    margin-top: 10px;
    width: 100%;
    height: 7px;
    border-radius: 2px;
    background-color: #00000014;
}

.sec-tabs .tab .active {
    background-color: var(--color-white);
}

.sec-tabs .tab a {
    color: var(--color-white);
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.sec-tabs-content {
    padding: 60px 0;
    background-color: #d7d7d7;
}

.sec-tabs-content .tabcontent ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sec-tabs-content .tabcontent li {
    padding-top: 10px;
}

.sec-tabs-content .tabcontent a {
    font-size: 19px;
    color: var(--color-black);
}

.sec-tabs-content .tabcontent a:hover {
    transition: 0.5s;
    color: var(--color-green);
}






/* menu desktop and mobile switching on responsive  */
@media (max-width: 991px) {

    /* find-talent */
    .find-talent h1 {
        font-size: 31px;
    }

    .img-work {
        width: calc(100% - 80px);
        height: auto;
        display: block;
        margin: 0 auto 15px;
    }

    .img-work .verticaltxt {
        font-size: 80px;
        top: 40%;
        left: -150px;
        display: none;
    }

    .work_cntnt {
        padding: 20px 20px 0px 20px !important;
    }

    .find-talent p {
        padding-top: 20px;
        font-size: 17px;
    }

    .find-talent p span.primary-color {
        font-size: 21px;
    }

    .find-talent .find-btns .green,
    .white {
        padding: 10px 20px;
        font-size: 17px;
    }

    /* sec-category */
    .sec-category{
        padding: 40px 0;
    }

    .sec-category .cate_row{
        margin-top: 30px;
    }

    /* sec-companygood */
    .sec-companygood {
        padding: 40px 0;
    }

    /* sec-talent */
    .sec-talent {
        padding: 40px 0;
    }

    .bx-talent {
        margin-top: 20px;
    }

    /* sec-worktalent */
    .sec-worktalent {
        padding: 40px 0;
    }
}

@media (max-width: 767px) {
    .find-talent h1 {
        font-size: 28px;
    }

    .img-work {
        width: calc(85% - 0px);
        height: calc(95% - 5px);
        display: block;
        margin: auto;
    }

    .img-work .verticaltxt {
        font-size: 76px;
        top: 43%;
        left: -142px;
        display: none;
    }

    .work_cntnt {
        padding: 35px 15px 0px 15px !important;
    }

    .find-talent p {
        padding-top: 20px;
        font-size: 17px;
    }

    .find-talent p span.primary-color {
        font-size: 20px;
    }

    .find-talent .find-btns .green,
    .white {
        padding: 10px 20px;
        font-size: 17px;
    }

    /* .sec-category */
    .sec-category h1 {
        font-size: 32px;
    }

    .bx-category h4 {
        font-size: 20px;
        min-height: 50px;
    }

    /* .sec-companygood */
    .sec-companygood h1.main_hdng span.primary-color.d-block {
        font-size: 20px;
    }

    .sec-companygood p {
        font-size: 18px;
        padding-top: 10px;
    }

    .sec-companygood button.green {
        margin-top: 20px;
    }

    ul.ul_company {
        padding: 0;
        margin: 20px 0 40px 0;
        font-size: 18px;
    }

    ul.ul_company li {
        padding-top: 30px;
        line-height: unset;
    }

    ul.ul_company li img {
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }

    /* sec-talent */
    .sec-talent h1 {
        font-size: 35px;
    }

    .sec-talent p {
        padding-top: 10px;
        font-size: 19px;
    }

    /* sec-worktalent */
    h1.main_hdng span.title {
        font-size: 20px;
    }

    .sec-worktalent .work_cntnt p {
        font-size: 19px;
        padding-top: 7px;
    }

    .sec-worktalent .work_cntnt ul {
        font-size: 18px;
        line-height: 48px;
        margin: 20px 0 0 0;
    }

    .sec-worktalent .work_cntnt ul li {
        padding-left: 30px;
    }

    .sec-worktalent .work_cntnt button.green {
        margin-top: 20px;
    }

    /* sec-tabs */
    .sec-tabs {
        padding: 20px 0 45px 0;
    }

    .sec-tabs .tab .inner {
        margin-top: 25px;
    }

    .sec-tabs .tab .seprator {
        margin-top: 4px;
    }

    .sec-tabs-content {
        padding: 5px 0 25px 0;
    }

    .sec-tabs-content .tabcontent ul {
        padding: 25px 0;
    }

    .sec-tabs-content .tabcontent li {
        padding-top: 13px;
    }

    .sec-tabs-content .tabcontent a {
        font-size: 17px;
    }
}

@media only screen and (max-width: 375px) {

    .find-talent .find-btns .green,
    .white {
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {

    .find-talent .find-btns .green,
    .white {
        padding: 10px 14px;
        font-size: 15px;
    }
}